#thin-text {
    font-weight: 100;
}

.btn-primary, .btn-primary:focus {
    background-color: #CA942B;
    border: none;
}

.btn-primary:hover {
    background-color: #343B40;
}

.logo-img {
    content: url(../src/img/logo.png);
}